.page {
  font-family: 'Inter', Arial, sans-serif;
  color: #ffffff;
  background-color: #2A2C2F;
  display: grid;
  grid-template-columns: 16px 1fr 16px;
  grid-template-rows: min-content auto min-content;
  grid-template-areas: 
    '. header .'
    'content content content'
    '. footer .';
}

 @media screen and (min-width: 768px) {
  .page {
    grid-template-columns: 24px 1fr 24px;
  }
} 

@media screen and (min-width: 1024px) {
  .page {
    grid-template-columns: 48px 1fr 48px;
  }
}

@media screen and (min-width: 1280px) {
  .page {
    grid-template-columns: minmax(48px, 1fr) 1fr minmax(48px, 1fr);
    grid-template-areas: 
      '. header .'
      '. content .'
      '. footer .';
  }
}