.header__lang-links {
  height: min-content;
  display: flex;
  align-items: flex-end;
  margin-top: 14px;
}

@media screen and (min-width: 768px) {
  .header__lang-links {
    margin-top: 18px;
  }
}